<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

            <title>The Everything Theatre</title>
<body>


                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">The Everything Theatre</h1>

            <p class="lead">This is the performance info page</p>
            <p class="lead">

            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Find us on: <a href="#">Facebook, etc.</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>