{% extends "base.html" %}

{% block jqcdn %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}

{% block title %} TICKETS {% endblock %}

{% block header1 %} TICKETS {% endblock %}

{% block lead %} Upcoming Shows You Won't Want to Miss! {% endblock %}

{% block content %}
<script>
$(document).ready(function() {
	$("#movie").hide();
	$("#performance-btn").removeClass("inactive");
	$("#movie-btn").click(function() {
		if ($(this).hasClass("inactive")) {
			$("#performance").fadeOut("fast", function() {
				$("#movie").fadeIn("slow", function() {});
			});
			$("#performance-btn").toggleClass("inactive");
			$(this).toggleClass("inactive");
		}
	});
	$("#performance-btn").click(function() {
		if ($(this).hasClass("inactive")) {
			$("#movie").fadeOut("fast", function() {
				$("#performance").fadeIn("slow", function() {});
			});
		
			$("#movie-btn").toggleClass("inactive");
			$(this).toggleClass("inactive");
		}
	});

});
</script>

<a class="btn btn-lg inactive" id="movie-btn">movies</a>
<a class="btn btn-lg inactive" id="performance-btn">performances</a>
<div id="movie">
	<h2>Movies</h2>
	{% for m in Movie%}
	<h4>{{ m.name }} - ${{m.price}}</h4>
	{%endfor%}
</div>
<div id="performance">
	<h2>Performances</h2>
	{% for p in Performance%}
	<h4><a href="/Performance_{{ p.id }}">{{ p.name }}</a> - ${{p.price}}<h4>
	{%endfor%}
</div>

{% endblock %}


