{% extends "base.html" %}

{% block title %} TICKETS {% endblock %}

{% block header1 %} TICKETS {% endblock %}

{% block lead %} Upcoming Shows You Won't Want to Miss! {% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$("#movie").hide();
	$("#performance-btn").removeClass("inactive");
	$("#movie-btn").click(function() {
		$("#performance").hide();
		$("#movie").show();
		$("#performance-btn").toggleClass("inactive");
		$(this).toggleClass("inactive");
	});
	$("#performance-btn").click(function() {
		$("#movie").hide();
		$("#performance").show();
		$("#movie-btn").toggleClass("inactive");
		$(this).toggleClass("inactive");
	});

});
</script>

<a class="btn btn-lg inactive" id="movie-btn">movies</a>
<a class="btn btn-lg inactive" id="performance-btn">performances</a>
<div id="movie">
	<h2>Movies</h2>
	{% for m in Movie%}
	{{ m.name }} - ${{m.price}}<br>
	{%endfor%}
</div>
<div id="performance">
	<h2>Performances</h2>
	{% for p in Performance%}
	<a href="/Performance_{{ p.id }}">{{ p.name }}</a> - ${{p.price}}<br>
	{%endfor%}
</div>

{% endblock %}


