{% extends "base.html" %}

{% block jqcdn %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{% endblock %}

{% block title %}Stuff{% endblock %}

{% block header1 %}Tickets and Merchandise{% endblock %}

{% block lead %}Spend Your Hard-Earned Cash Here!{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
	$("#merch").hide();
	$("#movie").hide();
	$("#performance-btn").removeClass("inactive");
	$("#performance").addClass("current");
	$("#movie-btn").click(function() {
		if ($(this).hasClass("inactive")) {
			$(".stuff.current").fadeOut("fast", function() {
				$("#movie").fadeIn("slow", function() {});
			});
			$(".link-btn").addClass("inactive");
			$(this).removeClass("inactive");
			$(".stuff.current").removeClass("current");
			$("#movie").addClass("current");
		}
	});
	$("#performance-btn").click(function() {
		if ($(this).hasClass("inactive")) {
			$(".stuff.current").fadeOut("fast", function() {
				$("#performance").fadeIn("slow", function() {});
			});

			$(".link-btn").addClass("inactive");
			$(this).removeClass("inactive");
			$(".stuff.current").removeClass("current");
			$("#performance").addClass("current");
		}
	});
	$("#merch-btn").click(function() {
		if ($(this).hasClass("inactive")) {
			$(".stuff.current").fadeOut("fast", function() {
				$("#merch").fadeIn("slow", function() {});
			});

			$(".link-btn").addClass("inactive");
			$(this).removeClass("inactive");
			$(".stuff.current").removeClass("current");
			$("#merch").addClass("current");
		}
	});

});
</script>

<a class="link-btn btn btn-lg inactive" id="performance-btn">performances</a>
<a class="link-btn btn btn-lg inactive" id="movie-btn">movies</a>
<a class="link-btn btn btn-lg inactive" id="merch-btn">merchandise</a>

<div class="stuff" id="movie">
	<h2>Movies</h2>
	<p><em>We play these whenever we like ... more incentive for you to come!</em></p>
	{% for m in Movie%}
	<h4>{{ m.name }} - ${{m.price}}</h4>
	{%endfor%}
</div>
<div class="stuff" id="performance">
	<h2>Performances</h2>
	<p><em>Click a show for more info!</em></p>
	{% for p in Performance%}
	<h4><a href="/Performance_{{ p.id }}">{{ p.name }}</a> - ${{p.price}}</h4>
	{%endfor%}
</div>
<div class="stuff" id="merch">
	<h2>Merchandise</h2>
	<p><em>Shirts come with these designs for $20</em></p>
	{% load staticfiles %}
				<img class="img-sm img-responsive img-thumbnail" src="{% static 'rainbow.png' %}">
				<img class="img-sm img-responsive img-thumbnail" src="{% static 'fade.png' %}">
</div>


{% endblock %}


