<!--
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>Upcoming Performances</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3./css/bootstrap.min.css">

            <link rel="stylesheet" href="../Theatre/Static/home.css">

			<body> -->
{% extends "base.html" %}

{% block title %}Upcoming Performances{% endblock %}
{% block header1 %}Upcoming Performances{% endblock %}
<!--<h1>Upcoming Permormances</h1>-->

{% block lead %}coming soon ....{% endblock %}
{% block content %}
    {% for p in Performance%}
	<h2><a id="{{ p.name }}">{{ p.name }}</a></h2><br>
    {{p.date}} at {{p.time}} price is: {{p.price}}<br>
    {{p.description}}
	{% endfor %}
{% endblock %}

